
@font-face {
    font-family: fonte1;
    src: url(Hello.ttf);
}

@font-face {
    font-family: fonte2;
    src: url(Handmade.otf);
}

h1{

padding: 10px;
font-family: fonte1;

text-align: center;

color: rgb(190, 24, 223);



}

header{

    background-color: #5a341a;

    box-shadow: #301707 0px 15px 1px ;
    
    
 padding: 1px;

    
}

body{

font-family: fonte2;

font-size: x-large;
background-color: bisque;

margin: 0;


}



.cadastre{

    box-shadow: #4d2c16  15px -10px 1px;
   
    padding: 10px;
    margin-left: 10px;
color: rgb(255, 255, 255);
    margin-top: 50px;
background-color: rgb(110, 55, 35);

width:200px ;

margin-left: 1100px;
margin-bottom: 20px;

border-radius: 10px;
}


    .cadastre p{

margin-left: 10px;



    }





    
.main-header{

    display: flex;

flex-direction: column;

align-items: center;

padding: 2em;

}

.main-header h1{

font-size: 4em;
margin-bottom: 1.2em;
line-height: 1.2em;

}

.main-header h1 span{

    color: rgb(255, 0, 0);
}

.container{


max-width: 1100px;

margin: auto;

overflow: auto;

padding: 0 2em;

}


img{

    border-radius: 10px;

    width: 100%;
}

.card{

    display: grid ;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em ;
    background: #f1f1f1;
    margin-bottom: 2em;
}

.card h3{

margin-bottom: 2em;

}

.card div{



    padding: 2em;

}

.card:nth-child(even) img{

order: 2;


}

section{

margin-left: 0;

}

table{

color: rgb(238, 217, 193);

padding: 20px;

background-color:  #6e3f1f;

border-radius: 10px;

box-shadow: 15px -10px 1px rgb(73, 40, 10);
}

th{

color: rgb(179, 112, 50);





}


h3{

font-family: fonte1;

color: rgb(156, 14, 144);



border-radius: 10px;


}





footer{

background-color: #9e4408;

margin-top: 50px

}

.j8{


  
border-radius: 10px;

background-color:  #804823;

max-width: 40%;

transform: translate(80%);


}











